body {
  font-family: Arial, sans-serif;
  font-size: 1.3em;
}

#mainDiv {
  width: 600px;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
}

td { padding-right: 20px; padding-top: 7px; vertical-align: top; }
.col1 { text-align: right; }
	
.attention {
  font-weight: bold;
  color: #F00;
}

#newContentsDiv {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

#gray-background-div{
	position:fixed;
	width: 100%;
	height:100%;
	top:0;
	left:0;
	background-color: #635c5cad;
	z-index:10;
	display:none;
}

#gray-background-div img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

